@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes carrousel_images {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  10% {
    transform: translateX(-1920px);
    -webkit-transform: translateX(-1920px);
    -moz-transform: translateX(-1920px);
    -ms-transform: translateX(-1920px);
    -o-transform: translateX(-1920px);
  }
  20% {
    transform: translateX(-3840px);
    -webkit-transform: translateX(-3840px);
    -moz-transform: translateX(-3840px);
    -ms-transform: translateX(-3840px);
    -o-transform: translateX(-3840px);
  }
  30% {
    transform: translateX(-5760px);
    -webkit-transform: translateX(-5760px);
    -moz-transform: translateX(-5760px);
    -ms-transform: translateX(-5760px);
    -o-transform: translateX(-5760px);
  }
  40% {
    transform: translateX(-7680px);
    -webkit-transform: translateX(-7680px);
    -moz-transform: translateX(-7680px);
    -ms-transform: translateX(-7680px);
    -o-transform: translateX(-7680px);
  }
  50% {
    transform: translateX(-9600px);
    -webkit-transform: translateX(-9600px);
    -moz-transform: translateX(-9600px);
    -ms-transform: translateX(-9600px);
    -o-transform: translateX(-9600px);
  }
  60% {
    transform: translateX(-11520px);
    -webkit-transform: translateX(-11520px);
    -moz-transform: translateX(-11520px);
    -ms-transform: translateX(-11520px);
    -o-transform: translateX(-11520px);
  }
  70% {
    transform: translateX(-13440px);
    -webkit-transform: translateX(-13440px);
    -moz-transform: translateX(-13440px);
    -ms-transform: translateX(-13440px);
    -o-transform: translateX(-13440px);
  }
  80% {
    transform: translateX(-15360px);
    -webkit-transform: translateX(-15360px);
    -moz-transform: translateX(-15360px);
    -ms-transform: translateX(-15360px);
    -o-transform: translateX(-15360px);
  }
  90% {
    transform: translateX(-17280px);
    -webkit-transform: translateX(-17280px);
    -moz-transform: translateX(-17280px);
    -ms-transform: translateX(-17280px);
    -o-transform: translateX(-17280px);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@keyframes load_dishes {
  0% {
    opacity: 0;
    transform: translateY(400px);
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
  }
  75% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.25, 0.25, 1);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@keyframes loading_screen {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 0.9;
  }
  99% {
    z-index: 5000;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}
@keyframes load_bar {
  0% {
    transform: scaleX(0);
    opacity: .1;
  }
  17% {
    transform: scaleX(0.18);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  26% {
    transform: scaleX(0.4);
  }
  44% {
    transform: scaleX(0.81);
    animation-timing-function: cubic-bezier(0.25, 0.25, 1);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes validate-check {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(-44%);
    -webkit-transform: translateX(-44%);
    -moz-transform: translateX(-44%);
    -ms-transform: translateX(-44%);
    -o-transform: translateX(-44%);
  }
}
@keyframes validate-margin-right {
  0% {
    transition: transform;
    margin-right: 0;
  }
  100% {
    transition: transform;
    margin-right: 20%;
  }
}
@keyframes validate-rotate {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  margin: 0;
  box-sizing: border-box;
  background: #ffffff;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  text-decoration: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

li {
  list-style-type: none;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

a, h2, h3, h4, h5, h6, li, nav, ol, p, span, ul {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 15px 0 #353535;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    height: 100px;
    box-shadow: 0 0 30px 0 #353535;
  }
}
@media (min-width: 992px) {
  .header {
    flex-direction: column;
    height: 160px;
    box-shadow: 0 0 45px 0 #9356DC;
  }
}
.header__logo {
  margin-top: 20px;
  width: 150px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header__logo {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .header__logo {
    margin: 0 0 20px 0;
    width: 400px;
  }
}
.header__nav {
  display: none;
}
@media (min-width: 992px) {
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 125px;
  }
}
@media (min-width: 992px) {
  .header__nav__menu {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
  }
}
.header__nav__menu > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  position: relative;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 2px solid #9356DC;
}
.header__nav__menu > li:hover {
  background-color: #9356DC;
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
}
.header__nav__menu > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__nav__menu > li > a:hover {
  font-weight: 800;
  color: #ffffff;
  cursor: pointer;
}
.header__nav__menu::after {
  content: "";
  display: block;
  clear: both;
}

.menu__deroulant:hover .menu__list {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px 0 0 0;
  z-index: 1000;
}
.menu__list {
  display: none;
  width: 100%;
  height: 130px;
  font-size: 15px;
  font-weight: 500;
  background-color: #ffffff;
}
.menu__resto {
  border-bottom: 2px solid #9356DC;
}
.menu__resto:hover {
  border-bottom: 2px solid #FF79DA;
  cursor: pointer;
}
.menu__resto a {
  width: 100%;
  height: 22px;
  display: flex;
  padding-left: 6px;
}
.menu__resto a:hover {
  color: #FF79DA;
  justify-content: flex-end;
  padding-right: 5px;
  cursor: pointer;
}

.header__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60px;
  padding-top: 15px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header__arrow {
    width: 100px;
    height: 100px;
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .header__arrow {
    display: none;
  }
}

footer {
  background-color: #353535;
  color: #ffffff;
  padding: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  footer {
    padding: 40px;
  }
}
@media (min-width: 992px) {
  footer {
    padding: 60px;
  }
}

.footer__block {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__block {
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) {
  .footer__block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
}
.footer__block > img {
  width: 80px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__block > img {
    width: 200px;
  }
}
@media (min-width: 992px) {
  .footer__block > img {
    width: 350px;
  }
}

.footer__links {
  width: 45%;
}
@media (min-width: 992px) {
  .footer__links {
    width: 100%;
  }
}
.footer__links > ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 60px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__links > ul {
    height: 120px;
  }
}
@media (min-width: 992px) {
  .footer__links > ul {
    height: 160px;
    align-items: center;
  }
}
.footer__links > ul > li > i {
  width: 18px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__links > ul > li > i {
    width: 40px;
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .footer__links > ul > li > i {
    width: 60px;
    font-size: 30px;
  }
}
.footer__links > ul > li > a {
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__links > ul > li > a {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .footer__links > ul > li > a {
    font-size: 25px;
  }
}

.menu__vign {
  height: 210px;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 4px 4px 15px #35353553;
}
.menu__vign:hover {
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu__vign {
    height: 380px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }
}
@media (min-width: 992px) {
  .menu__vign {
    width: 48%;
    height: 46%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }
}
.menu__vign > i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  font-size: 20px;
  z-index: 500;
  position: relative;
  top: -40px;
  left: 82%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu__vign > i {
    top: -80px;
    left: 88%;
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .menu__vign > i {
    top: -65px;
    font-size: 35px;
  }
}
.menu__vign > i:hover {
  cursor: pointer;
  color: #9356DC;
  font-family: "Fontawesome";
}
.menu__vign > i:active {
  color: #9356DC;
  font-family: "Fontawesome";
}

.menu__choice:hover {
  cursor: pointer;
}
.menu__choice__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 150px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu__choice__img {
    height: 280px;
    max-height: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}
@media (min-width: 992px) {
  .menu__choice__img {
    height: 320px;
    max-height: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}
.menu__choice__img > img {
  width: 100%;
  position: relative;
  top: -10px;
}
@media (min-width: 992px) {
  .menu__choice__img > img {
    height: auto;
    min-height: 320px;
    top: 0;
  }
}
.menu__choice__img > p {
  position: absolute;
  right: 10%;
  z-index: 100;
  font-size: 13px;
  font-weight: 600;
  color: #3b8875;
  padding: 7px 10px;
  background-color: #99E2D0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu__choice__img > p {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .menu__choice__img > p {
    font-size: 22px;
  }
}
.menu__choice__img > .new__1 {
  top: 723px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu__choice__img > .new__1 {
    top: 1495px;
  }
}
@media (min-width: 992px) {
  .menu__choice__img > .new__1 {
    right: 54%;
    top: 1315px;
  }
}
.menu__choice__img > .new__2 {
  top: 953px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu__choice__img > .new__2 {
    top: 1915px;
  }
}
@media (min-width: 992px) {
  .menu__choice__img > .new__2 {
    right: 7.5%;
    top: 1315px;
  }
}
.menu__choice__img > .new__3 {
  top: 1183px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu__choice__img > .new__3 {
    top: 2345px;
  }
}
@media (min-width: 992px) {
  .menu__choice__img > .new__3 {
    right: 54%;
    top: 1765px;
  }
}
.menu__choice__img > .new__4 {
  top: 1413px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu__choice__img > .new__4 {
    top: 2765px;
  }
}
@media (min-width: 992px) {
  .menu__choice__img > .new__4 {
    right: 7.5%;
    top: 1765px;
  }
}
.menu__choice__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 28%;
  margin-left: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu__choice__text {
    margin-left: 30px;
  }
}
@media (min-width: 992px) {
  .menu__choice__text {
    height: 23%;
    margin-left: 20px;
  }
}
.menu__choice__text h3 {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu__choice__text h3 {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .menu__choice__text h3 {
    font-size: 20px;
  }
}
.menu__choice__text p {
  font-size: 14px;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu__choice__text p {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .menu__choice__text p {
    font-size: 18px;
  }
}

.plat {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 225px;
}
.plat > h2 {
  width: 12%;
  font-weight: 200;
  padding-bottom: 2px;
  border-bottom: 2px solid #99E2D0;
}
.plat__choice {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 190px;
}
.plat__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 4px 4px 15px #35353553;
  overflow: hidden;
  opacity: 0;
  position: relative;
}
.plat__menu__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 220px;
  height: 80%;
  padding: 6px 8px;
  position: relative;
  overflow: hidden;
}
.plat__menu__text > h3 {
  max-height: 20px;
  font-size: 13px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plat__menu__text > p {
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plat__price {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 100%;
  z-index: 10;
  position: relative;
  top: 0;
  right: -18%;
}
.plat__price:hover {
  cursor: pointer;
  animation: validate-check 500ms 100ms forwards;
}
.plat__price__text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 75px;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0;
}
.plat__price__text:hover + .plat__price__check > .fas {
  animation: validate-rotate 500ms 150ms forwards;
}
.plat__price__check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  font-size: 16px;
  color: #ffffff;
  background-color: #99E2D0;
}
.plat__1 {
  animation: load_dishes 1200ms forwards;
  -webkit-animation: load_dishes 1200ms forwards;
}
.plat__2 {
  animation: load_dishes 1200ms 100ms forwards;
  -webkit-animation: load_dishes 1200ms 100ms forwards;
}
.plat__3 {
  animation: load_dishes 1200ms 200ms forwards;
  -webkit-animation: load_dishes 1200ms 200ms forwards;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background-color: #fff;
  background-size: cover;
  opacity: 0;
  animation: loading_screen 2500ms forwards;
  -webkit-animation: loading_screen 2500ms forwards;
}
.loading__logo {
  width: 150px;
  margin-bottom: 15px;
}
.loading__progress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 30px;
  background-color: #e4d5f6;
  border: 2px solid #9356DC;
}
.loading__progress__bar {
  width: 100%;
  height: 100%;
  background-color: #ff46cc;
  transform-origin: 0;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  animation: load_bar 1200ms forwards;
  -webkit-animation: load_bar 1200ms forwards;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 150px;
  margin: 5px 0 5px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .search {
    margin: 10px 0 10px 0;
  }
}
@media (min-width: 992px) {
  .search {
    margin: 0;
    flex-direction: column-reverse;
  }
}
.search__bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #d9d9d9;
}
@media (min-width: 992px) {
  .search__bloc {
    height: 140px;
    background-color: #9256dcee;
  }
}
.search__bloc__zone {
  width: 100%;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border: none;
  background-color: transparent;
}
@media (min-width: 768px) and (max-width: 991px) {
  .search__bloc__zone {
    width: 55%;
    height: 60px;
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .search__bloc__zone {
    width: 55%;
    height: 80px;
    font-size: 30px;
    border: none;
    background-color: #ffffff;
    margin: 20px 0 30px 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .search__bloc__zone:hover {
    border: 2px solid #FF79DA;
  }
}
.search .fontawesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}
.search__explo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  padding: 15px 0 15px 0;
}
@media (min-width: 992px) {
  .search__explo {
    justify-content: space-between;
    flex-direction: row;
    color: #ffffff;
    background-color: #9256dcee;
    padding: 20px 20px 0 20px;
  }
}
.search__explo__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 991px) {
  .search__explo__text {
    margin: 20px 0;
  }
}
@media (min-width: 992px) {
  .search__explo__text {
    width: 60%;
    max-width: 570px;
    margin-bottom: 20px;
  }
}
.search__explo__title {
  width: 70%;
  font-size: 22px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .search__explo__title {
    font-size: 48px;
  }
}
@media (min-width: 992px) {
  .search__explo__title {
    font-size: 45px;
  }
}
.search__explo__descrip {
  width: 87%;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .search__explo__descrip {
    font-size: 33px;
  }
}
@media (min-width: 992px) {
  .search__explo__descrip {
    font-size: 28px;
  }
}
.search__explo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search__explo__button > button {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  padding: 15px 18px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  margin: 25px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .search__explo__button > button {
    font-size: 30px;
    font-weight: 700;
    padding: 35px 45px;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
  }
}
.search__explo__button > button:hover {
  cursor: pointer;
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  background: linear-gradient(175deg, #ff93e1, #a16be0);
}
@media (min-width: 992px) {
  .search__explo__button > button {
    font-size: 28px;
    color: #000;
    background: linear-gradient(175deg, #99E2D0 45%, #ffffff);
    box-shadow: 5px 5px 10px #353535;
    padding: 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  .search__explo__button > button:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    background: linear-gradient(175deg, #ade8d9, white);
    box-shadow: 10px 10px 15px #1c1c1c;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .search__explo__button {
    font-size: 26px;
    padding: 30px 36px 30px 36px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
    margin: 20px 0 30px 0;
  }
}
@media (min-width: 992px) {
  .search__explo__button {
    width: 30%;
  }
}

.present {
  width: 100%;
  margin: 40px 0;
}
@media (min-width: 992px) {
  .present {
    margin: 0;
  }
}

.function {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function {
    height: 550px;
  }
}
@media (min-width: 992px) {
  .function {
    position: absolute;
    z-index: 300;
    justify-content: flex-start;
    width: 45%;
    height: 700px;
    padding: 0 35px;
    margin: 0;
  }
}
.function__block {
  width: 88%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function__block {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .function__block {
    width: 100%;
    max-height: 600px;
  }
}
.function__block > h2 {
  font-size: 18px;
  margin-top: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function__block > h2 {
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  .function__block > h2 {
    color: #ffffff;
    text-shadow: 2px 2px #353535;
    font-size: 30px;
  }
}
.function__select {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 200px;
  margin: 15px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function__select {
    height: 350px;
    margin: 25px 0;
  }
}
@media (min-width: 992px) {
  .function__select {
    height: 350px;
    margin: 35px 0 0 0;
  }
}
.function__select__zone {
  display: flex;
  align-items: center;
  height: 27%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function__select__zone {
    height: 29%;
  }
}
@media (min-width: 992px) {
  .function__select__zone {
    height: 29%;
  }
}
.function__select__zone:hover .function__select__button {
  background-color: #9256dc4a;
  cursor: pointer;
}
.function__select__zone:hover .fas {
  color: #9356DC;
}
@media (min-width: 992px) {
  .function__select__zone:hover .function__select__button {
    color: #ffffff;
    background-color: #ff79d9c1;
  }
  .function__select__zone:hover .fas {
    color: #FF79DA;
  }
}
.function__select__number {
  color: #ffffff;
  background-color: #9356DC;
  padding: 4px 7.5px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: absolute;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function__select__number {
    padding: 8px 16.5px;
    font-size: 28px;
    font-weight: 500;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }
}
@media (min-width: 992px) {
  .function__select__number {
    background-color: #9356DC;
    padding: 7.5px 14px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}
.function__select__button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  box-shadow: 5px 5px 5px #35353553;
  margin-left: 10px;
  padding-left: 25px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function__select__button {
    font-size: 30px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-left: 25px;
    padding-left: 50px;
  }
}
@media (min-width: 992px) {
  .function__select__button {
    font-size: 18px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    margin-left: 20px;
    padding-left: 40px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }
}
.function__select__button > span > i {
  color: #9c9c9c;
  font-size: 15px;
  margin-right: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function__select__button > span > i {
    font-size: 30px;
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .function__select__button > span > i {
    font-size: 25px;
    margin-right: 20px;
  }
}

.carrousel {
  display: none;
}
@media (min-width: 992px) {
  .carrousel {
    display: flex;
    width: 100%;
    height: 700px;
    float: right;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .carrousel__block {
    display: flex;
    animation-duration: 180s;
    animation-name: carrousel_images;
    animation-iteration-count: infinite;
  }
  .carrousel__block__img {
    width: 100%;
    height: 700px;
  }
}

.restos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 30px 0 60px 0;
  background-color: #eeeeee;
}
@media (min-width: 768px) and (max-width: 991px) {
  .restos {
    margin-top: 60px;
    padding: 60px 0 120px 0;
  }
}
@media (min-width: 992px) {
  .restos {
    width: 100%;
    margin: 0;
  }
}
.restos__block {
  width: 88%;
}
@media (min-width: 992px) {
  .restos__block {
    width: 90%;
  }
}
.restos__block > h2 {
  font-size: 18px;
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .restos__block > h2 {
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  .restos__block > h2 {
    font-size: 30px;
  }
}
.restos__block__menus {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 900px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .restos__block__menus {
    height: 1650px;
    margin: 25px 0;
  }
}
@media (min-width: 992px) {
  .restos__block__menus {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.menu__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__img > img {
  z-index: -20;
  width: 100%;
}

.menu__block {
  z-index: 50;
  position: relative;
  top: -30px;
  padding: 0 10px;
  background-color: #ffffff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.menu__block__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__block__title > h1 {
  font-size: 23px;
}
.menu__block__title > i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 20px;
}
.menu__block__title > i:hover {
  cursor: pointer;
  color: #9356DC;
  font-family: "Fontawesome";
}
.menu__block__title > i:active {
  color: #9356DC;
  font-family: "Fontawesome";
}
.menu__block__prop {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 730px;
  margin: 20px 0;
}
.menu__block__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__block__button > button {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  padding: 15px 18px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  margin: 25px 0;
  padding-right: 35px;
  padding-left: 35px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu__block__button > button {
    font-size: 30px;
    font-weight: 700;
    padding: 35px 45px;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
  }
}
.menu__block__button > button:hover {
  cursor: pointer;
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  background: linear-gradient(175deg, #ff93e1, #a16be0);
}
@media (min-width: 992px) {
  .menu__block__button > button {
    font-size: 28px;
    color: #000;
    background: linear-gradient(175deg, #99E2D0 45%, #ffffff);
    box-shadow: 5px 5px 10px #353535;
    padding: 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  .menu__block__button > button:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    background: linear-gradient(175deg, #ade8d9, white);
    box-shadow: 10px 10px 15px #1c1c1c;
  }
}

/*# sourceMappingURL=style.css.map */
