@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes carrousel_images {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  10% {
    transform: translateX(-550px);
    -webkit-transform: translateX(-550px);
    -moz-transform: translateX(-550px);
    -ms-transform: translateX(-550px);
    -o-transform: translateX(-550px);
  }
  20% {
    transform: translateX(-1100px);
    -webkit-transform: translateX(-1100px);
    -moz-transform: translateX(-1100px);
    -ms-transform: translateX(-1100px);
    -o-transform: translateX(-1100px);
  }
  30% {
    transform: translateX(-1650px);
    -webkit-transform: translateX(-1650px);
    -moz-transform: translateX(-1650px);
    -ms-transform: translateX(-1650px);
    -o-transform: translateX(-1650px);
  }
  40% {
    transform: translateX(-2200px);
    -webkit-transform: translateX(-2200px);
    -moz-transform: translateX(-2200px);
    -ms-transform: translateX(-2200px);
    -o-transform: translateX(-2200px);
  }
  50% {
    transform: translateX(-2750px);
    -webkit-transform: translateX(-2750px);
    -moz-transform: translateX(-2750px);
    -ms-transform: translateX(-2750px);
    -o-transform: translateX(-2750px);
  }
  60% {
    transform: translateX(-3300px);
    -webkit-transform: translateX(-3300px);
    -moz-transform: translateX(-3300px);
    -ms-transform: translateX(-3300px);
    -o-transform: translateX(-3300px);
  }
  70% {
    transform: translateX(-3850px);
    -webkit-transform: translateX(-3850px);
    -moz-transform: translateX(-3850px);
    -ms-transform: translateX(-3850px);
    -o-transform: translateX(-3850px);
  }
  80% {
    transform: translateX(-4400px);
    -webkit-transform: translateX(-4400px);
    -moz-transform: translateX(-4400px);
    -ms-transform: translateX(-4400px);
    -o-transform: translateX(-4400px);
  }
  90% {
    transform: translateX(-4950px);
    -webkit-transform: translateX(-4950px);
    -moz-transform: translateX(-4950px);
    -ms-transform: translateX(-4950px);
    -o-transform: translateX(-4950px);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  margin: 0;
  box-sizing: border-box;
  background: #ffffff;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  text-decoration: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

li {
  list-style-type: none;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

a, h1, h2, h3, h4, h5, h6, li, nav, ol, p, span, ul {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 15px 0 #353535;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    height: 100px;
    box-shadow: 0 0 30px 0 #353535;
  }
}
@media (min-width: 992px) {
  .header {
    flex-direction: column;
    height: 160px;
    box-shadow: 0 0 45px 0 #9356DC;
  }
}
.header__logo {
  margin-top: 20px;
  width: 150px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header__logo {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .header__logo {
    margin: 0 0 20px 0;
    width: 400px;
  }
}
.header__nav {
  display: none;
}
@media (min-width: 992px) {
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 125px;
  }
}
@media (min-width: 992px) {
  .header__nav__menu {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
  }
}
.header__nav__menu > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 2px solid #9356DC;
}
.header__nav__menu > li:hover {
  background-color: #9356DC;
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
}
.header__nav__menu > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__nav__menu > li > a:hover {
  font-weight: 800;
  color: #ffffff;
  cursor: pointer;
}
.header__nav__menu::after {
  content: "";
  display: block;
  clear: both;
}

.menu__deroulant:hover .menu__list {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px 0 0 0;
  z-index: 1000;
}
.menu__list {
  display: none;
  width: 100%;
  height: 130px;
  font-size: 15px;
  font-weight: 500;
  background-color: #ffffff;
}
.menu__resto {
  border-bottom: 1px solid #9356DC;
}
.menu__resto:hover {
  border-bottom: 1px solid #FF79DA;
  cursor: pointer;
}
.menu__resto a {
  width: 100%;
  height: 22px;
  display: flex;
  padding-left: 6px;
}
.menu__resto a:hover {
  color: #FF79DA;
  justify-content: flex-end;
  padding-right: 5px;
  cursor: pointer;
}

.header__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60px;
  padding-top: 15px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header__arrow {
    width: 100px;
    height: 100px;
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .header__arrow {
    display: none;
  }
}

.footer__block > img {
  width: 200px;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 150px;
  margin: 5px 0 5px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .search {
    margin: 10px 0 10px 0;
  }
}
@media (min-width: 992px) {
  .search {
    margin: 0;
    flex-direction: column-reverse;
  }
}
.search__bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #d9d9d9;
}
@media (min-width: 992px) {
  .search__bloc {
    height: 140px;
    background-color: #9256dcee;
  }
}
.search__bloc__zone {
  width: 100%;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border: none;
  background-color: transparent;
}
@media (min-width: 768px) and (max-width: 991px) {
  .search__bloc__zone {
    width: 55%;
    height: 60px;
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .search__bloc__zone {
    width: 55%;
    height: 80px;
    font-size: 30px;
    border: none;
    background-color: #ffffff;
    margin: 20px 0 30px 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .search__bloc__zone:hover {
    border: 2px solid #FF79DA;
  }
}
.search .fontawesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}
.search__explo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  padding: 15px 0 10px 0;
}
@media (min-width: 992px) {
  .search__explo {
    justify-content: space-between;
    flex-direction: row;
    color: #ffffff;
    background-color: #9256dcee;
    padding: 20px 20px 0 20px;
  }
}
.search__explo__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  .search__explo__text {
    width: 60%;
    margin-bottom: 20px;
  }
}
.search__explo__title {
  width: 70%;
  font-size: 22px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .search__explo__title {
    font-size: 48px;
  }
}
@media (min-width: 992px) {
  .search__explo__title {
    font-size: 45px;
  }
}
.search__explo__descrip {
  width: 87%;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .search__explo__descrip {
    font-size: 33px;
  }
}
@media (min-width: 992px) {
  .search__explo__descrip {
    font-size: 28px;
  }
}
.search__explo__button {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  padding: 15px 18px 15px 18px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  margin: 25px 0 15px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .search__explo__button {
    font-size: 26px;
    padding: 30px 36px 30px 36px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
    margin: 50px 0 60px 0;
  }
}
@media (min-width: 992px) {
  .search__explo__button {
    width: 22%;
    font-size: 25px;
    color: #000;
    background: none;
    background-color: #99E2D0;
    box-shadow: 5px 5px 5px #353535;
    margin: 60px;
    cursor: pointer;
  }
}

.present {
  width: 100%;
}
@media (min-width: 992px) {
  .present {
    height: 500px;
  }
}

.function {
  display: flex;
  justify-content: center;
  margin: 40px 0 40px 0;
}
@media (min-width: 992px) {
  .function {
    justify-content: flex-start;
    float: left;
    width: 42%;
    padding: 50px 35px;
    margin: 0;
  }
}
.function__block {
  width: 88%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function__block {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .function__block {
    width: 100%;
  }
}
.function__block > h1 {
  margin-top: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function__block > h1 {
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  .function__block > h1 {
    font-size: 30px;
  }
}
.function__select {
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 15px 0 15px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function__select {
    height: 350px;
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .function__select {
    height: 350px;
    margin-bottom: 0;
  }
}
.function__select__zone {
  display: flex;
  align-items: center;
  height: 27%;
}
.function__select__zone:hover .function__select__button {
  background-color: #9256dc4a;
  cursor: pointer;
}
.function__select__zone:hover .fas {
  color: #9356DC;
}
@media (min-width: 992px) {
  .function__select__zone:hover .function__select__button {
    background-color: #FF79DA4a;
  }
  .function__select__zone:hover .fas {
    color: #FF79DA;
  }
}
.function__select__number {
  color: #ffffff;
  background-color: #9356DC;
  padding: 4px 7.5px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: absolute;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function__select__number {
    padding: 8px 16.5px;
    font-size: 28px;
    font-weight: 500;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }
}
@media (min-width: 992px) {
  .function__select__number {
    padding: 7.5px 14px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}
.function__select__button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  box-shadow: 5px 5px 5px #35353553;
  margin-left: 10px;
  padding-left: 25px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function__select__button {
    font-size: 30px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-left: 25px;
    padding-left: 50px;
  }
}
@media (min-width: 992px) {
  .function__select__button {
    font-size: 18px;
    border-radius: 25px;
    margin-left: 20px;
    padding-left: 40px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }
}
.function__select__button > span > i {
  color: #9c9c9c;
  font-size: 15px;
  margin-right: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .function__select__button > span > i {
    font-size: 30px;
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .function__select__button > span > i {
    font-size: 25px;
    margin-right: 20px;
  }
}

.carrousel {
  display: none;
}
@media (min-width: 992px) {
  .carrousel {
    display: flex;
    width: 55%;
    min-width: 550px;
    max-width: 1100px;
    height: 500px;
    float: right;
    padding: 0;
    margin: 0;
    overflow: auto;
  }
  .carrousel__block {
    display: flex;
    animation-duration: 90s;
    animation-name: carrousel_images;
    animation-iteration-count: infinite;
  }
  .carrousel__block__img {
    width: 100%;
    height: 500px;
  }
}

.menu__choice__img > img {
  width: 200px;
}

/*# sourceMappingURL=style.css.map */
