@mixin gradient_button {
  font-family: $gg-font-rob;
  font-size: 13px;
  font-weight: 500;
  color: $colour-white;
  background: $gradient-color;
  border: none;
  padding: 15px 18px 15px 18px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  margin: 25px 0 25px 0;
  &:hover {
    cursor: pointer;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    background: linear-gradient(175deg,
      lighten($color: $colour-secondary, $amount: 5),
      lighten($color: $colour-primary, $amount: 5),
    )
  }
}