.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 150px;
  margin: 5px 0 5px 0;
  @media (min-width: 768px) and (max-width: 991px) {
    margin: 10px 0 10px 0;
  }
  @media (min-width: 992px) {
    margin: 0;
    flex-direction: column-reverse;
  }
  &__bloc {
    @include flex-center;
    width: 100%;
    background-color: #d9d9d9;
    @media (min-width: 992px) {
      height: 140px;
      background-color: #9256dcee;
    }
    &__zone {
      width: 100%;
      height: 35px;
      font-family: $gg-font-rob;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      border: none;
      background-color: transparent;
      @media (min-width: 768px) and (max-width: 991px) {
        width: 55%;
        height: 60px;
        font-size: 25px;
      }
      @media (min-width: 992px) {
        width: 55%;
        height: 80px;
        font-size: 30px;
        border: none;
        background-color: $colour-white;
        margin: 20px 0 30px 0;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        &:hover {
          border: 2px solid $colour-secondary;
        }
      }
    }
  }

  .fontawesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
  }

  &__explo {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    background-color: #f6f6f6;
    padding: 15px 0 15px 0;
    @media (min-width: 992px) {
      justify-content: space-between;
      flex-direction: row;
      color: $colour-white;
      background-color: #9256dcee;
      padding: 20px 20px 0 20px;
    }
    &__text {
      @include flex-center;
      flex-direction: column;
      @media (min-width: 992px) {
        width: 60%;
        max-width: 570px;
        margin-bottom: 20px;
      }
    }
    &__title {
      width: 70%;
      font-size: 22px;
      text-align: center;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 48px;
      }
      @media (min-width: 992px) {
        font-size: 45px;
      }
    }
    &__descrip {
      width: 87%;
      font-size: 15px;
      font-weight: 300;
      text-align: center;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 33px;
      }
      @media (min-width: 992px) {
        font-size: 28px;
      }
    }
    &__button {
      font-family: $gg-font-rob;
      font-size: 13px;
      font-weight: 500;
      color: $colour-white;
      background: linear-gradient(175deg, $colour-secondary, $colour-primary);
      border: none;
      padding: 15px 18px 15px 18px;
      border-radius: 35px;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      -ms-border-radius: 35px;
      -o-border-radius: 35px;
      margin: 25px 0 15px 0;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 26px;
        padding: 30px 36px 30px 36px;
        border-radius: 45px;
        -webkit-border-radius: 45px;
        -moz-border-radius: 45px;
        -ms-border-radius: 45px;
        -o-border-radius: 45px;
        margin: 50px 0 60px 0;
}
      @media (min-width: 992px) {
        width: 22%;
        font-size: 25px;
        color: #000;
        background: none;
        background-color: $colour-tertiary;
        box-shadow: 5px 5px 5px $colour-darkgrey;
        margin: 60px;
        cursor: pointer;
      }
    }
  }
}

.present {
  width: 100%;
  margin: 40px 0;
  @media (min-width: 992px) {
    height: 700px;
    margin: 0;
  }
}

.function {
  @include flex-center;
  margin: 40px 0;
  @media (min-width: 992px) {
    position: absolute;
    z-index: 300;
    justify-content: flex-start;
    width: 45%;
    height: 700px;
    padding: 0 35px;
    margin: 0;
  }
  &__block {
    width: 88%;
    @media (min-width: 768px) and (max-width: 991px) {
      width: 85%;
    }
    @media (min-width: 992px) {
      width: 100%;
      max-height: 600px;
    }
    & > h2 {
      font-size: 18px;
      margin-top: 0;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 35px;
      }
      @media (min-width: 992px) {
        color: $colour-white;
        text-shadow: 2px 2px $colour-darkgrey;
        font-size: 30px;
      }
    }
  }
  &__select {
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 15px 0;
    @media (min-width: 768px) and (max-width: 991px) {
      height: 350px;
      margin-bottom: 50px;
    }
    @media (min-width: 992px) {
      height: 350px;
      margin: 35px 0 0 0;
    }
    &__zone {
      display: flex;
      align-items: center;
      height: 27%;
      @media (min-width: 992px) {
        height: 29%;
      }
      &:hover {
        .function__select__button {
          background-color: #9256dc4a;
          cursor: pointer;
        }
        .fas {
          color: $colour-primary;
        }
        @media (min-width: 992px) {
          .function__select__button {
            color: $colour-white;
            background-color: #ff79d9c1;
          }
          .fas {
            color: $colour-secondary;
          }
        }
      }
    }
    &__number {
      color: $colour-white;
      background-color: $colour-primary;
      padding: 4px 7.5px;
      font-size: 12px;
      font-weight: 400;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      position: absolute;
      @media (min-width: 768px) and (max-width: 991px) {
        padding: 8px 16.5px;
        font-size: 28px;
        font-weight: 500;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
      }
      @media (min-width: 992px) {
        background-color: $colour-primary;
        padding: 7.5px 14px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
    }
    &__button {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 12px;
      font-weight: 700;
      border: none;
      border-radius: 14px;
      -webkit-border-radius: 14px;
      -moz-border-radius: 14px;
      -ms-border-radius: 14px;
      -o-border-radius: 14px;
      box-shadow: 5px 5px 5px #35353553;
      margin-left: 10px;
      padding-left: 25px;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 30px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        margin-left: 25px;
        padding-left: 50px;
}
      @media (min-width: 992px) {
        font-size: 18px;
        border: 2px solid $colour-white;
        border-radius: 25px;
        margin-left: 20px;
        padding-left: 40px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
}
      & > span > i {
        color: #9c9c9c;
        font-size: 15px;
        margin-right: 15px;
        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 30px;
          margin-right: 20px;
        }
        @media (min-width: 992px) {
          font-size: 25px;
          margin-right: 20px;
        }
      }
    }
  }
}

.carrousel {
  display: none;
  @media (min-width: 992px) {
    display: flex;
    width: 100%;
    height: 700px;
    float: right;
    padding: 0;
    margin: 0;
    overflow: hidden;
    &__block{
      display: flex;
      animation-duration: 180s;
      animation-name: carrousel_images;
      animation-iteration-count: infinite;
      &__img {
        width: 100%;
        height: 700px;
      }
    }
  }
}

.restos {
  @include flex-center;
  margin-top: 30px;
  padding: 30px 0 60px 0;
  background-color: #eeeeee;
  @media (min-width: 768px) and (max-width: 991px) {
    margin-top: 60px;
    padding: 60px 0 120px 0;
  }
  @media (min-width: 992px) {

  }
  &__block {
    width: 88%;
    @media (min-width: 992px) {
      width: 90%;
    }
    & > h2 {
      font-size: 18px;
      margin-bottom: 20px;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 35px;
      }
      @media (min-width: 992px) {
        font-size: 30px;
      }
    }
    &__menus {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 900px;
      @media (min-width: 768px) and (max-width: 991px) {
        height: 1650px;
      }
      @media (min-width: 992px) {
        flex-wrap: wrap;
        flex-direction: row;
      }
    }
  }
}