.menu__2 {
  &__main {
    max-height: 1450px;
    @media (min-width: 768px) and (max-width: 991px) {
      max-height: 2150px;
    }
    @media (min-width: 992px) {
      max-height: 1650px;
    }
  }
  &__block {
    position: relative;
      top: -50px;
    @media (min-width: 768px) and (max-width: 991px) {
      top: -100px;
    }
    @media (min-width: 992px) {
        top: -200px;
    }
    &__prop {
      height: 800px;
      @media (min-width: 768px) and (max-width: 991px) {
        height: 1250px;
      }
      @media (min-width: 992px) {
        height: 630px;
      }
    }
  }
  &__entrees {
    height: 280px;
    @media (min-width: 768px) and (max-width: 991px) {
      height: 470px;
    }
    @media (min-width: 992px) {
      height: 280px;
    }
  }
  &__choice {
    height: 250px;
    @media (min-width: 768px) and (max-width: 991px) {
      height: 430px;  
    }
    @media (min-width: 992px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__plat {
    @media (min-width: 992px) {
      width: 49%;
    }
  }

}

