.menu__img {
  @include flex-center;
  & > img {
    z-index: -20;
    width: 100%;
  }
}

.menu__block {
  z-index: 50;
  position: relative;
    top: -30px;
  padding: 0 10px;
  background-color: $colour-white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > h1 {
      font-size: 23px;
    }
    & > i {
      @include flex-center;
      width: 20%;
      font-size: 20px;
    }
  }
  &__prop {
    @include flex-column-space-between;
    height: 1000px;
    margin: 20px 0;
  }
}

.menu__entrees{
  @include flex-column-space-between;
  height: 230px;
  & > h2 {
    font-weight: 200;
  }
  &__choice {
    @include flex-column-space-between;
    height: 200px;
  }
  &__vign {
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 4px 4px 15px #35353553;
    padding: 5px 15px 5px 7px;
    & > span {
      display: flex;
      align-items: flex-end;
      font-size: 12px;
      font-weight: 700;
    }
  }
  &__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 40px;
    & > h3 {
      font-size: 14px;
      margin-bottom: 5px;
    }
    & > p {
      font-size: 11px;
    }
  }
}