.menu__main {
  min-height: 1115px;
  max-height: 1310px;
  @media (min-width: 768px) and (max-width: 991px) {
    min-height: 1920px;
  }
  @media (min-width: 992px) {
    min-height: 1390px;
    max-height: 1620px;
  }
}

.menu__img {
  max-height: 400px;
  overflow: hidden;
  @media (min-width: 768px) and (max-width: 991px) {
    height: 500px;
    max-height: none;
    overflow: hidden;
  }
  @media (min-width: 992px) {
    height: 600px;
    max-height: none;
    overflow: hidden;
  }
  & > img {
    z-index: -20;
    width: 100%;
  }
}

.menu__block {
  z-index: 50;
  position: relative;
    top: -30px;
  padding: 0 10px;
  background-color: $colour-white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  @media (min-width: 768px) and (max-width: 991px) {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  @media (min-width: 992px) {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;  
  }
  &__title {
    @include flex_jc-sb_ai-center;
    & > h1 {
      font-size: 20px;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 35px;
        margin: 24px 15px;
      }
      @media (min-width: 992px) {
        font-size: 35px;
        margin: 24px 15px;
      }
    }
    & > i {
      @include flex_full_center;
      width: 20%;
      font-size: 20px;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 35px;
      }
      @media (min-width: 992px) {
        font-size: 35px;
      }
      &:hover {
        cursor: pointer;
        color: $colour-primary;
        font-family: "Fontawesome";
        transition: all 250ms;
      }
      &:active {
        color: $colour-primary;
        font-family: "Fontawesome";
      }
    }
  }
  &__prop {
    @include flex_col_jc-sb;
    height: 730px;
    margin: 20px 0;
    @media (min-width: 768px) and (max-width: 991px) {
      height: 1150px;
    }
    @media (min-width: 992px) {
      height: 550px;
    }
  }
  &__button {
    @include flex_full_center;
    & > button {
      @include gradient_button;
      padding-right: 35px;
      padding-left: 35px;
    }
  }
}

