// Colours Variables
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-invalid: #e70000;

// Font Variables
$gg-font-rob: 'Roboto', sans-serif;
$gg-font-shrik: 'Shrikhand', cursive;