// Colours Variables
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #ffffff;
$colour-darkgrey: #353535;
$colour-invalid: #e70000;
$gradient-color: linear-gradient(175deg, $colour-secondary, $colour-primary);
$gradient-color2: linear-gradient(175deg, $colour-tertiary 45%, $colour-white);

// Font Variables
$gg-font-rob: 'Roboto', sans-serif;
$gg-font-shrik: 'Shrikhand', cursive;

// Duration
$load-dur: 1200ms;
$load-delay: 200ms;

$dishes_load-dur: 1500ms;
$dishes_load-delay: 150ms;
